<div class="bg-blue-300 px-8 py-4 rounded-lg m-12 block w-[520px] self-center">
    <h1 class="text-white font-sans text-4xl font-extrabold">Eventual</h1>
      <% if user_signed_in? %>
        <h2 class="text-gray-100 italic font-semibold"><%= current_user.name %>'s personal events: </h2>
      <% else %>
        <h2 class="text-gray-100 italic font-semibold">Your personal guide in the world of happenings</h2>
      <% end %>
</div>