<div class="text-center font-light">
  <% if user_signed_in? %>
    <ul class="mb-16">
      <% @events.each do |event| %>
        <% if event.creator == current_user %>
          <li class="m-2 transition hover:cursor-pointer hover:text-gray-500">
            <%= link_to event.name, event_path(event) %>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% else %>
    <p>Please sign in to be able to see your events</p>
  <% end %>
</div>