<div class="flex flex-col justify-center align-middle">
  <div class="bg-blue-300 px-8 py-4 rounded-lg m-12 block w-min-max self-center">
    <h1 class="text-white font-semibold font-sans text-4xl font-extrabold">Eventual</h1>
    <h2 class="text-gray-100 italic font-semibold">Your personal guide in the world of happenings</h2>
  </div>
  <div class="text-center font-light">
    <% if user_signed_in? %>
      <ul>
        <% @events.each do |event| %>
          <li class="m-5 transition hover:cursor-pointer hover:text-gray-500">
            <%= link_to event.name, event_path(event) %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>Please sign in to be able to see your events</p>
    <% end %>
  </div>
</div>