<div class="flex flex-col w-72 m-auto gap-8">
  <h1 class="font-bold text-3xl" ><%= @event.name %></h1>

  <ul>
    <% if user_signed_in? %>
      <li><%= link_to "Delete Event", event_path(@event), data: {
                                  turbo_method: :delete,
                                  turbo_confirm: "Are you sure?"
      }%></li>
      <li><%= render 'attend' %></li>
    <% end %>
  </ul>
</div>
