<% if flash[:notice] %>
  <div class="block px-6 mt-[-2] text-blue-400" role="alert">
    <%= flash[:notice] %>
  </div>
<% else %>
  <div class="block px-6 mt-[-2] text-slate-50 h-6"></div>
<% end %>
<% if flash[:alert] %>
  <div class="block px-6 mt-[-2] text-red-400" role="alert">
    <%= flash[:alert] %>
  </div>
<% else %>
  <div class="block px-6 mt-[-2] text-slate-50 h-6"></div>
<% end %>